* {
	text-align: center;
}

#page-container {
	height: 100vh;
	width:100%;
}

#header-div {
	height: 15vh;
	width: 100%;
	background-color: #9dbae8;
}

h1 {
	margin: 0 auto;
}

#content-div {
	height: 70vh;
	width: 100%;
	background-color: #aee8a7;
}

#description-div {
	display: inline-block;
	height: 50vh;
	width: 30%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 2%;
	background-color: white;
	float: left;
}

#gameboard-div {
	display: inline-block;
	height: 50vh;
	width: 30%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 2%;
	margin-right: 2%;
	background-color: white;
}

.ggClass {
	display: block;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	background-color: #f2e29d;
}

.mh {
	display: inline-block;
	margin: 0 auto;
	height: 30%;
	width: 30%;
	background-color: black;
}

.mole {
	display: inline-block;
	margin: 0 auto;
	height: 30%;
	width: 30%;
	background-image: url(../assets/small-js-badge.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#control-panel-div {
	display: inline-block;
	height: 50vh;
	width: 30%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-right: 2%;
	background-color: white;
	float: right;
}

button {
	background-color: grey;
	border: none;
	width: 40%;
	margin: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
}

#timer {
	background-color: grey;
	width: 30%;
	margin: 0 auto;
	margin-bottom: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
}

#declaration {
	background-color: grey;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
}

#player1 {
	display: inline-block;
	width: 30%;
	background-color: grey;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-right: : 15%;
}

#player2 {
	display: inline-block;
	width: 30%;
	background-color: grey;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-left: 15%;
}

.scores {
	display: block;
	vertical-align: center;
	margin-top: 3%
}

#p-1-score {
	display: inline-block;
	background-color: grey;
	width: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 17%;
	float: left;
}

#p-2-score {
	display: inline-block;
	background-color: grey;
	width: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-right: 17%;
	float: right;
}

#footer-div {
	height: 15vh;
	width: 100%;
	background-color: #e8a7a7;
}