/*still not sure which unit of measurement to use - px, vh, em, etc*/
/*need to add media queries for phone and tablet*/

* {
	text-align: center;
	/*gives the text on the page a cool arcade-like font*/
	font-family: 'Press Start 2P', cursive;
}

#page-container {
	height: 100vh;
	width:100%;
}

#header-div {
	height: 15vh;
	width: 100%;
	background-color: #9dbae8;
}

h1 {
	margin: 0 auto;
	padding-top: 2%;
	font-size: 50px;
}

#content-div {
	height: 70vh;
	width: 100%;
	background-color: #aee8a7;
}

/*the three divs within the content div 
should display inline-block with even spacing 
and centered across the page*/

#description-div {
	display: inline-block;
	height: 50vh;
	width: 30%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 2%;
	background-color: black;
	color: gold;
	float: left;
}

#gameboard-div {
	display: inline-block;
	height: 50vh;
	width: 30%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 2%;
	margin-right: 2%;
	/*background-image: url(../assets/wooden_planks.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
}

.ggClass {
	display: block;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	/*background-image: url(../assets/wooden_planks.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
}

/*.mh is the standby or empty mole hole*/
.mh {
	display: inline-block;
	margin: 0 auto;
	height: 105px;
	width: 105px;
	background-color: black;
	border-radius: 100px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

/*.mole is the live and clickable mole,
in this case represented by the JS badge*/
.mole {
	display: inline-block;
	margin: 0 auto;
	height: 105px;
	width: 105px;
	background-image: url(../assets/small-js-badge.png);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 100px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

/*.whacked is the image displayed when a mole is successfully clicked,
in this case represented by "x all the y meme"*/
.whacked {
	display: inline-block;
	margin: 0 auto;
	height: 105px;
	width: 105px;
	background-image: url(../assets/x-all-the-y.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 100px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

#control-panel-div {
	display: inline-block;
	height: 50vh;
	width: 30%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-right: 2%;
	background-color: black;
	float: right;
}

/*still need to make all elements on the control panel rounded with border*/

/*if time allows, make "play" green and "reset" red*/
button {
	font-family: 'Press Start 2P', cursive;
	background-color: grey;
	border: 5px solid white;
	border-radius: 10px;
	width: 40%;
	margin: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
}

#play {
	background-color: green;
	color: white;
}

#reset {
	background-color: red;
	color: white;
}

#timer {
	background-color: black;
	color: gold;
	width: 30%;
	margin: 0 auto;
	margin-bottom: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
	border: 5px solid white;
	border-radius: 10px;
}

#declaration {
	background-color: black;
	color: gold;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
	border: 5px solid white;
	border-radius: 10px;
}

#player1 {
	display: inline-block;
	width: 30%;
	background-color: black;
	color: gold;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-right: : 15%;
	border: 5px solid white;
	border-radius: 10px;
}

#player2 {
	display: inline-block;
	width: 30%;
	background-color: black;
	color: gold;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-left: 15%;
	border: 5px solid white;
	border-radius: 10px;
}

.scores {
	display: block;
	vertical-align: center;
	margin-top: 3%
	border: 5px solid white;
	border-radius: 10px;
}

#p-1-score {
	display: inline-block;
	background-color: black;
	color: gold;
	width: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 17%;
	float: left;
	border: 5px solid white;
	border-radius: 10px;
}

#p-2-score {
	display: inline-block;
	background-color: black;
	color: gold;
	width: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-right: 17%;
	float: right;
	border: 5px solid white;
	border-radius: 10px;
}

#footer-div {
	height: 15vh;
	width: 100%;
	background-color: #e8a7a7;
}

/*remove default link styling*/
#dev-links-div {
	margin: 0 auto;
	padding-top: 3%;
}